<p class="text-md-center">Add New Exercise</p>
<%= simple_form_for @exercise, url: exercises_path, :class => 'form-horizontal' do |f| %>
    <%= f.label :weekday%>
    <%=select(:exercise, :weekday, options_for_select([['Monday', 1],['Tuesday', 2],['Wednesday', 3],['Thursday', 4],['Friday', 5],['Saturday', 6],['Sunday', 7]])) %>
    <p>
      <%= f.label :description%>
      <%= f.text_area :description, :class => 'form-control' %>
    </p>
    <h5>Phases</h5>
    <%= f.simple_fields_for :phases do |pha| %>
        <div class="duplicatable-form">
          <%= pha.label :action %>
          <%= pha.text_field :action %>
          <%= link_to 'Remove', '', :remote => true, :class => 'dupli-destroy' %>
        </div>
    <% end %>
    <p>
      <%= link_to 'Add Phase', '', :class => 'duplicate-form' %>
    </p>
    <p>
      <%= f.submit :value => "Save Exercise", :class => 'btn btn-success' %>
    </p>
<% end %>
