<p class="text-md-center">Weekly Schedule</p>
<% @daysofweek.each_with_index do |weekday, index| %>
<table class="table">
  <thead class="thead-inverse">
  <tr>
    <th><%= weekday %></th>
    <th>Phases</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @data[index].each do |exercise| %>
      <tr>
        <td><%= exercise.description %></td>
        <td>
          <% exercise.phases.all.each_with_index do |phase, index| %>
              <div class="inline"><%= index+1 %><span>: </span><%= phase.action %></div>
          <% end %>
        </td>
        <td style="width: 1em;">
          <%= link_to 'Edit', {action: "edit", id: exercise.id }, method: :get %>
          <%= link_to 'Remove', {action: "destroy", id: exercise.id }, method: :delete, data: { confirm: "Are you sure?"} %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>
<% end %>
