<p class="text-md-center">Edit Exercise</p>
<div class="container">
  <div class="row">
    <div class="col-lg-6 col-lg-offset-3">
      <%= simple_form_for @exercise, url: exercise_path(@exercise), method: :patch, :class => 'form-horizontal' do |f| %>
          <%= f.label :weekday%>
          <%=select(:exercise, :weekday, options_for_select([['Monday', 1],['Tuesday', 2],['Wednesday', 3],['Thursday', 4],['Friday', 5],['Saturday', 6],['Sunday', 7]], f.object.weekday)) %>
          <p>
            <%= f.label :description%>
            <%= f.text_area :description, :class => 'form-control' %>
          </p>
          <h5>Phases</h5>
          <%= f.simple_fields_for :phases do |pha| %>
              <div class="duplicatable-form">
                <%= pha.label :action %>
                <%= pha.text_field :action %>
                <%= link_to 'Remove', exercise_phase_path(@exercise, pha.object), :method => :delete, :remote => true, :class => 'dupli-destroy' %>
                <%= pha.input :id, as: :hidden %>
              </div>
          <% end %>
          <p>
            <%= link_to 'Add Phase', '', :class => 'duplicate-form' %>
          </p>
          <p>
            <%= f.submit :value => "Save Exercise", :class => 'btn btn-success' %>
          </p>
      <% end %>
    </div>
  </div>
</div>
