<div class="container">
  <div class="row">
    <p class="text-lg-center">Weekly Training Program Manager</p>
  </div>
  <div class="row">
   <div class="col-lg-6">
     <%= render 'form_create' %>
   </div>
    <div class="col-lg-6">
      <%= render 'weekly_schedule' %>
    </div>
    </div>
  </div>
</div>
